annotated-types==0.7.0
anyio==4.4.0
bcrypt==3.1.7
cffi==1.17.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
databases==0.9.0
distlib==0.3.8
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.114.1
filelock==3.16.0
greenlet==3.1.0
h11==0.14.0
identify==2.6.1
idna==3.8
nodeenv==1.9.1
passlib==1.7.4
platformdirs==4.3.3
pre-commit==3.8.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
python-multipart==0.0.9
PyYAML==6.0.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.34
starlette==0.38.5
typing_extensions==4.12.2
unicorn==2.0.1.post1
uvicorn==0.30.6
virtualenv==20.26.4
